html {
  box-sizing: border-box;
  font-family: "Fredoka One", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #b3fbff;
  background-image: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  position: relative;
  text-align: center;
}


.left-content {
  animation: blur 400ms linear;
  padding-left: 3em;
}

@keyframes blur {
  0% {
    filter: blur(14px);
  }
  100% {
    filter: blur(0);
  }
}

.banner-content h1 {
  color: #990073;
  transform: rotate(-7deg);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.banner-content h2 {
  color: #c09;
  transform: rotate(-5deg);
  max-width: 19em;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}

p {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-ghost {
  color: #c09;
  border-radius: 5px;
  border-color: #990073;
}

.btn-ghost:hover {
  background-color: #c09 50%;
  border-color: #990073;
  color: #c09;
}

.cone {
  position: absolute;
  bottom: 2%;
  width: 150px
}

.mint {
  position: absolute;
  bottom: 22%;
  width: 150px;
}

.choco {
  width: 150px;
  position: absolute;
  bottom: 39%;
  z-index: 3;
}

.vani {
  position: absolute;
  width: 150px;
  bottom: 231px;
  z-index: 4;
}

.cherry {
  display: inline-block;
  width: 150px;
  position: absolute;
  bottom: 70%;
  z-index: 5;
}

@keyframes drop {
  0% {

  }
}
